<!-- aqui importo a base do site, com topo e rodapé !-->
{% extends 'divulgacoes/base.html' %}
<!-- importção necessária para poder puchar aquivos css e js !-->
{% load staticfiles %}
<!-- bloco de estilo da página !-->
{% block estilo %}
    <link href="{% static 'css/detalhe_comercio.css' %}" rel="stylesheet">
{% endblock estilo %}
<!-- bloco de conteudo !-->
{% block conteudo %}
	
	<header>
        <div class="container">
            <div class="header-comercio">
                <div class="col-md-8 col-md-offset-2  col-xs-12 segura-title">
                    <h1 class="titulo-comercio">{{comercio.nome}}</h1>
                    <p class="descricao-comercio">{{comercio.descricao}}</p>
                    <a class="btn btn-warning sr-button" href="{% url 'divulgacoes:pesquisa_cidade' cidade=comercio.cidade.id %}" role="button">Voltar</a>
                </div>
            </div>
        </div>
    </header>

	<section class="detalhe">
        <div class="row">
            <div class="container">
                <!-- informações do comércio !-->
                <div class="col-md-7 informacoes">

                    <p>Funcionamento: <span class="det">{{comercio.funcionamento}}</span> <i class="fa fa-clock-o sr-icons"></i></p>

                    <p>Telefone: <span class="det">{{comercio.telefone}}</span> || <span class="det"> {{comercio.telefone2}} <i class="fa fa-mobile sr-icons" aria-hidden="true"></i></span></p>

                    <p>Cartão: <span class="det">{{comercio.cartao}}</span> <i class="fa fa-credit-card sr-icons" aria-hidden="true"></i></p>

                    <p>Entrega: <span class="det">{{comercio.faz_entrega}}</span> <i class="fa fa-motorcycle sr-icons" aria-hidden="true"></i></p>
                    
                    <p>Bairro: <span class="det">{{comercio.bairro}}</span> <i class="fa fa-map-marker sr-icons" aria-hidden="true"></i></p>

                    <p>Rua: <span class="det">{{comercio.rua}} nº{{comercio.numero}}</span> <i class="fa fa-map-marker sr-icons" aria-hidden="true"></i></p>

                    <p>Referência: <span class="det">{{comercio.referencia}}</span> <i class="fa fa-map-marker sr-icons" aria-hidden="true"></i></p>
                    
                    {% if comercio.mapa %}
                        <p>Mapa: <i class="fa fa-map-o sr-icons" aria-hidden="true"></i></p>
                        <!-- frame de mapa do google !-->
                        <iframe src="{{comercio.mapa}}" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                    {% endif %}

                    <p>
                        {% if comercio.facebook %}
                            <a href="{{comercio.facebook}}" target="_blank"><i class="fa fa-facebook-official fa-2x facebook" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if comercio.twitter %}
                            <a href="{{comercio.twitter}}" target="_blank"><i class="fa fa-twitter-square fa-2x twitter" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if comercio.instagram %}
                            <a href="{{comercio.instagram}}" target="_blank"><i class="fa fa-instagram fa-2x instagram" aria-hidden="true"></i></a>
                        {% endif %}
                    </p>
                </div>
                
                <!-- imagens do comércio !-->
                <div class="col-md-5 ">
                    <div class="logo">
                        {% if comercio.logo %}
                            <img src="{{comercio.logo.url}}" class="img-responsive center-block img-thumbnail" alt="Responsive image">
                        {% else %}
                            <img src="{% static 'img/padrao.jpeg' %}" class="img-responsive center-block img-thumbnail" alt="Responsive image">
                        {% endif %}
                    </div>
                    <div class="portifolio popup-gallery">
                        {% if comercio.banner1 %}
                            <div class="col-md-4 img-portifolio">
                                <a href="{{comercio.banner1.url}}" class="portfolio-box">
                                    <img src="{{comercio.banner1.url}}" class="img-responsive img-thumbnail" alt="">
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if comercio.banner2 %}
                            <div class="col-md-4 img-portifolio">
                                <a href="{{comercio.banner2.url}}" class="portfolio-box">
                                    <img src="{{comercio.banner2.url}}" class="img-responsive img-thumbnail" alt="">
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if comercio.banner3 %}
                            <div class="col-md-4 img-portifolio">
                                <a href="{{comercio.banner3.url}}" class="portfolio-box">
                                    <img src="{{comercio.banner3.url}}" class="img-responsive img-thumbnail" alt="">
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if comercio.banner4 %}
                        <div class="col-md-4 img-portifolio">
                            <a href="{{comercio.banner4.url}}" class="portfolio-box">
                                <img src="{{comercio.banner4.url}}" class="img-responsive img-thumbnail" alt="">
                            </a>
                        </div>
                        {% endif %}

                        {% if comercio.banner5 %}
                        <div class="col-md-4 img-portifolio">
                            <a href="{{comercio.banner5.url}}" class="portfolio-box">
                                <img src="{{comercio.banner5.url}}" class="img-responsive img-thumbnail" alt="">
                            </a>
                        </div>
                        {% endif %}

                        {% if comercio.banner6 %}
                        <div class="col-md-4 img-portifolio">
                            <a href="{{comercio.banner6.url}}" class="portfolio-box">
                                <img src="{{comercio.banner6.url}}" class="img-responsive img-thumbnail" alt="">
                            </a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
	</section>
	
{% endblock conteudo %}