<!-- aqui importo a base do site, com topo e rodapé !-->
{% extends 'divulgacoes/base.html' %}
<!-- importção necessária para poder puchar aquivos css e js !-->
{% load staticfiles %}
<!-- bloco de estilo da página !-->
{% block estilo %}
    <link href="{% static 'css/detalhe_comercio.css' %}" rel="stylesheet">
{% endblock estilo %}
<!-- bloco de conteudo !-->
{% block conteudo %}
	
	<header>
        <div class="container">
            <div class="header-comercio">
                <div class="col-md-8 col-md-offset-2  col-xs-12 segura-title">
                    <h1 class="titulo-comercio">{{comercio.nome}}</h1>
                    <p class="descricao-comercio">{{comercio.descricao}}</p>
                    <a class="btn btn-warning sr-button" href="{% url 'divulgacoes:pesquisa_cidade' cidade=comercio.cidade.id %}" role="button">Voltar</a>
                </div>
            </div>
        </div>
    </header>

	<section class="detalhe">
        <div class="row">
            <div class="container">
                <!-- informações do comércio !-->
                <div class="col-md-7 informacoes">
                    <div class="col-md-6">
                        <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/clock-48.png' %}" alt="funcionamento" data-toggle="tooltip" data-placement="top" title="Funcionamento">
                        <p><span class="det">{{comercio.funcionamento}}</span></p>    
                    </div>
                    <div class="col-md-6">
                        <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/smartphone-48.png' %}" alt="telefone" data-toggle="tooltip" data-placement="top" title="Telefone">
                        <p><span class="det">{{comercio.telefone}}</span> || <span class="det"> {{comercio.telefone2}} </span></p>
                    </div>
                    <div class="col-md-6">
                        <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/credicard-48.png' %}" alt="cartao" data-toggle="tooltip" data-placement="top" title="Cartões">
                        <p><span class="det">{{comercio.cartao}}</span></p>
                    </div>
                    <div class="col-md-6">
                        <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/box-48.png' %}" alt="faz-entrega" data-toggle="tooltip" data-placement="top" title="Realiza Entrega">
                        <p><span class="det">{{comercio.faz_entrega}}</span></p>
                    </div>
                    <div class="col-md-6">
                        <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/map-48.png' %}" alt="endereco" data-toggle="tooltip" data-placement="top" title="Endereço">
                        <p><span class="det">{{comercio.bairro}}<br>
                        {{comercio.rua}}<br>
                        {{comercio.referencia}}</span></p>
                    </div>
                    <div class="col-md-6">
                        <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/like-48.png' %}" alt="social" data-toggle="tooltip" data-placement="top" title="Redes Sociais">
                        <p>
                        {% if comercio.facebook %}
                            <a href="{{comercio.facebook}}" target="_blank"><i class="fa fa-facebook-official fa-2x facebook" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if comercio.twitter %}
                            <a href="{{comercio.twitter}}" target="_blank"><i class="fa fa-twitter-square fa-2x twitter" aria-hidden="true"></i></a>
                        {% endif %}
                        {% if comercio.instagram %}
                            <a href="{{comercio.instagram}}" target="_blank"><i class="fa fa-instagram fa-2x instagram" aria-hidden="true"></i></a>
                        {% endif %}
                    </p>
                    </div>
                    
                    {% if comercio.mapa %}
                        <div class="col-md-12">
                            <img class=class="img-responsive center-block" alt="Responsive image" src="{% static 'img/icons/map-g-48.png' %}" alt="endereco" data-toggle="tooltip" data-placement="top" title="Mapa">
                            <!-- frame de mapa do google !-->
                            <iframe src="{{comercio.mapa}}" class="map" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>
                
                <!-- imagens do comércio !-->
                <div class="col-md-5 ">
                    <div class="logo">
                        {% if comercio.logo %}
                            <img src="{{comercio.logo.url}}" class="img-responsive center-block img-thumbnail" alt="Responsive image">
                        {% else %}
                            <img src="{% static 'img/padrao.jpeg' %}" class="img-responsive center-block img-thumbnail" alt="Responsive image">
                        {% endif %}
                    </div>
                    <div class="portifolio popup-gallery">
                        {% if comercio.banner1 %}
                            <div class="col-md-4 img-portifolio">
                                <a href="{{comercio.banner1.url}}" class="portfolio-box">
                                    <img src="{{comercio.banner1.url}}" class="img-responsive img-thumbnail" alt="">
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if comercio.banner2 %}
                            <div class="col-md-4 img-portifolio">
                                <a href="{{comercio.banner2.url}}" class="portfolio-box">
                                    <img src="{{comercio.banner2.url}}" class="img-responsive img-thumbnail" alt="">
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if comercio.banner3 %}
                            <div class="col-md-4 img-portifolio">
                                <a href="{{comercio.banner3.url}}" class="portfolio-box">
                                    <img src="{{comercio.banner3.url}}" class="img-responsive img-thumbnail" alt="">
                                </a>
                            </div>
                        {% endif %}
                        
                        {% if comercio.banner4 %}
                        <div class="col-md-4 img-portifolio">
                            <a href="{{comercio.banner4.url}}" class="portfolio-box">
                                <img src="{{comercio.banner4.url}}" class="img-responsive img-thumbnail" alt="">
                            </a>
                        </div>
                        {% endif %}

                        {% if comercio.banner5 %}
                        <div class="col-md-4 img-portifolio">
                            <a href="{{comercio.banner5.url}}" class="portfolio-box">
                                <img src="{{comercio.banner5.url}}" class="img-responsive img-thumbnail" alt="">
                            </a>
                        </div>
                        {% endif %}

                        {% if comercio.banner6 %}
                        <div class="col-md-4 img-portifolio">
                            <a href="{{comercio.banner6.url}}" class="portfolio-box">
                                <img src="{{comercio.banner6.url}}" class="img-responsive img-thumbnail" alt="">
                            </a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
	</section>
	
{% endblock conteudo %}