<!-- aqui importo a base do site, com topo e rodapé !-->
{% extends 'divulgacoes/base.html' %}

<!-- importção necessária para poder puchar aquivos css e js !-->
{% load staticfiles %}

{% block estilo %}
    <link href="{% static 'css/pesquisa_comercio.css' %}" rel="stylesheet">
{% endblock estilo %}

<!-- bloco de conteudo !-->
{% block conteudo %}

    <!-- texto top com nome e descricao da cidade !-->
    <header>
        <div class="container">
            <div class="detalhe-cidade">
                <div class="col-md-8 col-md-offset-2 segura-title">
                    {% for cidade in nome_cidade %}
                        <h1 class="titulo-cidade">{{cidade.nome}}</h1>
                        <p class="descricao-cidade">{{cidade.descricao}}</p>
                    {% endfor %}
                        <a class="btn btn-warning sr-button" href="{% url 'divulgacoes:index' %}" role="button">Voltar</a>
                </div>
            </div>
        </div>
    </header>
    
    <!-- titulo de busca e formulario !-->
    <section class="form-header">
        <div class="container">
            <div class="col-md-3">
                <p>Encontre de forma rápida e facil os comércios e serviços da região!</p>
            </div>
            <div class="col-md-9">
                <form class="form-inline form-busca" action="{% url 'divulgacoes:pesquisa_comercio'%}">
                    <!-- {% csrf_token %} !-->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-building-o" aria-hidden="true"></i></div>
                            <input type="text" name="nome" class="form-control" id="exampleInputAmount" placeholder="comida, moda, beleza, etc..">
                            <!-- input que passa o id da cidade !-->
                            <input type="hidden" name="cidade" value="{{cidade}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control nome-tag" name="tag">
                            <option value="">TODOS</option>
                            {% for tag in tags %}
                                <option value="{{tag.nome}}">{{tag.nome}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-warning sr-button">Pesquise</button>
                </form>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>
    <!-- fim titulo de busca e formulario !-->
    
    <!-- lista com os comércios, tags e promocoes !-->
    <section class="comercios">
        <!-- box dos comercios e atalhos lateral !-->
        <div class="container box-comercio">
            <div class="col-md-9">
                {% for comercio in comercios %}
                    <div class="col-md-4">
                        {% if comercio.logo %}
                            <a href="{% url 'divulgacoes:detalhe_comercio' pk=comercio.pk %}"><img src="{{comercio.logo.url}}" class="img-responsive center-block img-thumbnail" alt="Responsive image"></a>
                        {% else %}
                            <a href="{% url 'divulgacoes:detalhe_comercio' pk=comercio.pk %}"><img src="{% static 'img/padrao.jpeg' %}" class="img-responsive center-block img-thumbnail" alt="Responsive image"></a>
                        {% endif %}
                        <p class="nome-comercio"><a href="{% url 'divulgacoes:detalhe_comercio' pk=comercio.pk %}">{{comercio.nome}}</a></p>
                    </div>
                {% endfor %}
            </div>
            <!-- lista de atalhos e promoções !-->
            <div class="col-md-3 lista-tag">
                <!-- atalhos !-->
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Atalhos
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Busca Rápida
                                <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% for tag in tags %}
                                        <li class="nome-tag"><a href="{% url 'divulgacoes:pesquisa_atalho' cidade=cidade tag=tag.nome|cut:" " %}">{{tag.nome}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- promocoes !-->
                <div class="col-md-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Promoções
                            </h3>
                        </div>
                        <div class="panel-body">
                            {% for promocao in promocoes %}
                                <div class="img-promocao">
                                    <img src="{{promocao.banner.url}}" class="img-responsive center-block img-thumbnail" alt="Responsive image" 
                                    data-toggle="modal" 
                                    data-target="#{{promocao.title|cut:" "}}">
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="{{promocao.title|cut:" "}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">{{promocao.title}}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p class="promocao-descricao">{{promocao.descricao}}</p>
                                                <p>Validade: {{promocao.validade}}</p>
                                                <img src="{{promocao.banner.url}}" class="img-responsive center-block img-thumbnail" alt="Responsive image">
                                                {% if promocao.comercio %}
                                                    <p class="promocao-descricao">Conheça nossa loja <a href="{% url 'divulgacoes:detalhe_comercio' pk=promocao.comercio.id %}"><i class="fa fa-building-o" aria-hidden="true"></i></a></p>
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    
        <hr>

        <!-- paginação !-->
        <div class="paginacao">
            <div class="col-md-12 col-xs-12">
                <span class="step-links">
                {% if comercios.has_previous %}
                    <!-- passo as variaveis (nome, tag, cidade, page) !-->
                    <a href="?nome={{nome}}&tag={{tag}}&cidade={{cidade}}&page={{comercios.previous_page_number}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                {% endif %}

                <span class="current">
                    Pagina {{ comercios.number }} de {{ comercios.paginator.num_pages }}
                </span>

                {% if comercios.has_next %}
                    <!-- passo as variaveis (nome, tag, cidade, page) !-->
                    <a href="?nome={{nome}}&tag={{tag}}&cidade={{cidade}}&page={{ comercios.next_page_number }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                {% endif %}
                </span>                
            </div>
        </div>
        <!-- fim paginação !-->

    </section>
    <!-- fim lista com os comércios !-->

{% endblock conteudo %}

{% block js %}

{% endblock js %}