<!-- aqui importo a base do site, com topo e rodapé !-->
{% extends 'divulgacoes/base.html' %}

<!-- importção necessária para poder puchar aquivos css e js !-->
{% load staticfiles %}

{% block estilo %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/sobre.css' %}" rel="stylesheet">
{% endblock estilo %}

{% block conteudo %}

<!-- texto com fundo laranja !-->
<section class="bg-azul_claro" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Conheça nossa esquipe</h2>
                <hr class="light">
                <p class="text-faded">O SeridoTem é um portal de marketing digital desenvolvido pela empresa 1bu, voltado para promover micro e pequenas empresas do Seridó. Desejamos fornecer um serviço de publicidade de forma responsiva, segura e com um preço acessível para adesão. Nossa equipe é formada por pessoas que desempenham seus trabalhos com a missão de fortalecer o comércio no Seridó, através de um marketing inovador e dinâmico.!</p>
                <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button">ANUNCIE VOCÊ TAMBÉM</a>
            </div>
        </div>
    </div>
</section>

<!-- lista de componentes !-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">1BUZEIROS</h2>
                <hr class="hr-amarelo">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'img/1bu/pedro.jpg' %}" class="img-responsive img_user" alt="">
                    <h3>Pedro Henrique</h3>
                    <p class="text-muted">Web Developer | Em busca do Mac prometido</p>
                    <br>
                    <a href="https://www.facebook.com/pedro.lg.cs" target="_blank"><i class="fa fa-facebook-official fa-2x facebook" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Pedr0_Galva0" target="_blank"><i class="fa fa-twitter-square fa-2x twitter" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/pedro_lg/" target="_blank"><i class="fa fa-instagram fa-2x instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'img/1bu/janaina.jpg' %}" class="img-responsive img_center img_user" alt="">
                    <h3>Janaina Luana</h3>
                    <p class="text-muted">Administradora em formação | Eterna aprendiz | Coloque amor em tudo que fizer.</p>
                    <br>
                    <a href="https://www.facebook.com/janaina.luana.731" target="_blank"><i class="fa fa-facebook-official fa-2x facebook" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/janainaluana19/" target="_blank"><i class="fa fa-instagram fa-2x instagram" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'img/1bu/saullo.jpg' %}" class="img-responsive img_center img_user" alt="">
                    <h3>Saullo Grégory</h3>
                    <p class="text-muted">Graduando em ADM | Visionário & amante da tecnologia da informação.</p>
                    <br>
                    <a href="https://www.facebook.com/saullo.gregory" target="_blank"><i class="fa fa-facebook-official fa-2x facebook" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'img/1bu/serginho.jpg' %}" class="img-responsive img_center img_user" alt="">
                    <h3>Sérgio Samuel</h3>
                    <p class="text-muted">Amante do empreendedorismo desde criança, minha missão é te ajudar a consolidar o seu negócio!</p>
                    <br>
                    <a href="https://www.facebook.com/serrgiosamuel" target="_blank"><i class="fa fa-facebook-official fa-2x facebook" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- informações de contato !-->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Seja você também um anunciador!</h2>
                    <hr class="primary">
                    <p>Venha fazer parte do maior site de anúncios do seridó, encontre de maneira rápida e fácil os estabelecimentos, serviços em gerais e festas na região.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <br>
                    <i class="fa fa-whatsapp fa-3x sr-contact"></i>
                    <p><a href="tel:84999308164">(84) 9 9930-81642</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <br>
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">seridotem@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>


{% endblock conteudo %}
