.bg-blue {
    background-color: #428bca;
    color: white;
}

.btn-blue {
    color: white;
    background-color: #039be5;
    border-color: #F05F40;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue.focus, .btn-blue:active, .btn-blue.active, .open> .dropdown-toggle.btn-blue {
    color: white;
    background-color: #0288D1;
}

.hr-blue {
    border-color: #0288D1;
    border-width: 3px;
    max-width: 50px;
}

.navbar-default .nav> li> a, .navbar-default .nav> li> a:focus {
    color: #428bca;
    font-size: 15px;
}

.navbar-default .nav> li> a:hover, .navbar-default .nav> li> a:focus:hover {
    color: #082976;
}

.navbar-default .navbar-header .navbar-brand {
    color: #428bca;
}

.navbar-default.affix .navbar-header .navbar-brand {
    color: #428bca;
    font-size: 14px;
}

.navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
    color: #1545B5;
}

.blog-main {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.blog-post {
    margin-bottom: 60px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

a {
    color: #428bca;
}

a:hover {
    color: #1545B5;
}
