/* titulo do comercio */
header{
	background-image: url('../img/fundo/fundo3.gif');
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-weight:400;
}
.header-comercio{
	padding-top: 90px;
	text-align: center;
}
.segura-title{
	padding: 40px;
}
.titulo-comercio{
	font-size: 40px;
	text-align: center;
}
.descricao-comercio{
	font-size: 20px;
    font-weight: 300;
}

@media(max-width:500px) {
	.segura-title{
		padding: 30px;
	}
    .titulo-comercio{
		font-size: 30px;
		text-align: center;
	}
}

/* fim titulo do comercio */

/* detalhes do comercio */
.detalhe{
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/fundo/stripe.png');
	padding: 30px;
}
.informacoes{
	font-size: 18px;
	text-align: left;
}
.informacoes p{
	padding: 5px;
}
.det{
	font-size: 20px;
}

.facebook{
	color: #3b5998;
}
.facebook hover{
	color: #4681c0;
}
.twitter{
	color: #55acee;
}
.twitter hover{
	color: #4e8fc0;
}
.instagram{
	color:  #ab3aa8;
}
.instagram hover{
	color: #fe4b52;
}
/* fim detalhes do comercio */

/* portifolio */
.logo{

}
.portifolio{
	
}
.img-portifolio{
	padding-top: 10px;
	min-height: 140px;
}
/* fim portifolio */