/* header */

header{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	background: url('../img/fundo/capa.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
header h1{
	font-size: 40px;
	text-align: center;
}
header p{
	font-size: 20px;
	font-weight:300;
	text-align: center;
}
.cabecalho{
	padding-top: 90px;
}
.segura-titulo{
	text-align: center;
	padding: 50px;
}
.titulo{
	color: white;
	font-size: 45px;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 40px;
	border: solid white 1px;
}
.sub-title{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	font-weight:300;
}

/* configuração para title */
@media(max-width:500px) {
    .segura-titulo{
		text-align: center;
		padding: 10px;
	}
	.titulo{
		color: white;
		font-size: 30px;
		text-transform: uppercase;
		border-radius: 5px;
		padding: 30px;
		border: solid white 1px;
	}
	.sub-title{
		color: white;
		text-transform: uppercase;
		font-size: 18px;
		font-weight:300;
	}
}
/* fim configuração para title */

/* fim header */

/* section pesquisa form */
.form-header{
	background-image: url(../img/fundo/stripe.png);
	background-color: #2C3E50;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 30px;
}
.form-header p{
	font-size: 15px;
	color: white;
	text-align: justify;
	font-weight:300;
}
/* fim section pesquisa form */

/* section pesquisa cidade */
.cidades{
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/fundo/inspiration-geometry.png');
}
.title-cidade{
	padding: 40px;
	text-align: center;
	text-transform: uppercase;
}
.ico-map{
	text-align: center;
}
.lista-cidades{
	padding-top: 20px;
}
.nome-cidade{
	min-height: 80px;
	font-weight:300;
	font-size: 18px;
	padding: 10px;
	text-align: center;
}
/* fim section pesquisa cidade */

/* section eventos */
.eventos{
	font-family: 'Montserrat', sans-serif;
	background-color: #1d1d1d;
	background-image: url('../img/fundo/cartographer.png');
}
.title-evento{
	padding: 40px;
	text-align: center;
	text-transform: uppercase;
	color: white;
}
.lista-eventos{
	padding-top: 20px;
}
/* fim section eventos */

/* section fundo preto eventos */
.fundo-preto{
	font-family: 'Montserrat', sans-serif;
	background-color: #1d1d1d;
	background-image: url('../img/fundo/cartographer.png');
	padding: 20px;
}
.titulo-fundo-preto{
	padding: 10px;
	font-size: 24px;
	color: white;
	text-align: center;
}

/* fim section fundo preto eventos */

/* section contato */
.contato{
	font-family: 'Montserrat', sans-serif;
	background-color: #f8931f;
}
.title-contato{
	padding-top: 40px;
	padding-bottom: 10px;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.sub-title-contatp{
	text-align: center;
	font-size: 22px;
	color: white;
}
.heart-red{
	color: #B20000;
}
.whatsapp{
	padding: 40px;
	text-align: center;
	/* color: #34af23; */
	color: white;
}
.num-whats{
	padding: 10px;
	font-size: 21px;
}
.whatsapp a{
	color: white;
}
.mail{
	padding: 40px;
	text-align: center;
	/* color: #dd4b39; */
	color: white;
}
.text-mail{
	padding: 10px;
	font-size: 21px;	
}
.text-mail a{
	color: white;
}
/* fim section contato */