/* header */
header{
	font-family: 'Montserrat', sans-serif;
	background-image: url('../img/fundo/stripe.png');
	background-color: #4D82B9;
	width: 100%;
	font-weight:400;
	color: white;
}
.detalhe-cidade{
	padding-top: 90px;
	text-align: center;
}
.segura-title{
	padding: 40px;
}
.titulo-cidade{
	font-size: 40px;
	text-align: center;
}
.descricao-cidade{
	font-size: 20px;
    font-weight: 300;
}
/* fim header */

/* titulo e tags de busca */
.title-tags{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
}

.form-header{
	background-image: url(../img/fundo/stripe.png);
	background-color: #2C3E50;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 30px;
}
.form-header p{
	font-size: 15px;
	color: white;
	text-align: justify;
	font-weight:300;
}
/* fim titulo e tags de busca */

/* section lista de comercios */
.comercios{
	
}
.box-comercio{
	font-family: 'Montserrat', sans-serif;
}
.box-comercio p{
	text-align: center;
	padding: 10px;
	font-size: 20px;
	min-height: 105px;
}
/* fim section lista de comercios */

/* lista de tags lateral */

.lista-tag{
	
}
.nome-tag{
	text-transform: uppercase;
}
/* fim lista de tags lateral */

/* promocoes */
.img-promocao{
	padding-bottom: 5px;
}

/* fim promocoes */

/* modal */
.panel-body p{
	color: #333;
	text-align: left;
	min-height: 2px;
}
/* */

/* paginação */
.paginacao{
	text-align: center;
	padding-bottom: 50px;
	font-size: 20px;
}
/* fim paginação */